apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: dhruvi-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        - name: MONGO_URL
          value: "mongodb://mongodb-service:27017/dhruvifeedback"
        - name: JWT_SECRET
          value: "dhruvi-super-secret-key-2024-production"
        - name: ADMIN_EMAIL
          value: "dhruvi@admin.com"
        - name: ADMIN_PASSWORD
          value: "dhruvi123"

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30050
  type: NodePort